<table>
    <thead>
        <tr>
            <th>Fagkode</th>
            <th>Tittel</th>
            <th>Karakter</th>
            <th>Studiepoeng</th>
        </tr>
    </thead>

    <tbody id="course-container"></tbody>

    <tfoot>
        <tr>
            <td></td>
            <td>Gjennomsnittskarakter:</td>
            <td><%= avg %></td>
            <td><%= total %>p</td>
        </tr>
    </tfoot>

</table>